<h1>Boats#edit</h1>
<h2>Modify-a-Boat</h2>
<p>Find me in app/views/boats/edit.html.erb</p>
<%= form_for(@boat) do |f| %>
	<%= f.label :boat_name %>
	<%= f.text_field :boat_name %>
	<%= f.label :container_capacity %>
	<%= f.text_field :container_capacity %>
	<%= f.label :current_boat_location %>
	<%= f.text_field :current_boat_location %>
	<%= f.submit :update %>
<% end %>