<h1>Boats#index</h1>
<p>Find me in app/views/boats/index.html.erb</p>
<h1>The Marina</h1>

<% @boats.each do |boat| %>
<table>
	<tr>
		<td><%= boat.boat_name %></td>
		<td><%= boat.container_capacity %></td>
		<td><%= boat.current_boat_location %></td>
		<td class="table_keys" ><%= link_to "Edit", edit_boat_path(boat) %></td>
		<td class="table_keys" ><%= link_to "Delete Boat", boat, method: :delete %></td>
	</tr>
</table>
<% end %>

<h1>Your Boats</h1>
<% @boats.each do |boat| %>
<table>
	<tr>
		<td><%= boat.boat_name %></td>
		<td><%= boat.container_capacity %></td>
		<td><%= boat.current_boat_location %></td>
	</tr>
</table>
<% end %>


<span><%= link_to "Add A New Boat", new_boat_path %></span>